* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  color: none;
}
img {
  width: 100px;
  height: 100px;
}
button:active {
  transform: scale(0.94);
}